.book-container {
  min-width: 250px;
  max-width: 400px;
  display: flex;
  flex-grow: 1;
  padding: 10px 20px;
  margin: 10px;
  border-radius: 4px;
  box-shadow: 0 2px 10px lightgray;
  justify-content: center;
  flex-direction: column;
  text-align: center;
  hr {
    width: 100%;
    color: gray;
  }
  .content {
    color: gray;
  }
}
